<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="htts://www.thymeleaf.org/thymeleaf-extra-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>User 로그인 성공</h3>
    <a th:href="@{/}"></a>
    <p>
        <a th:href="@{/admin/index}">최고관리자 페이지</a>
        <a th:href="@{/manager/index}">운영자 페이지</a>
    </p>
     <p sec:authorize="isAuthenticated()">
         <!--로그인 되어있다면 뜨도록-->
         아이디 : <span>[[${#authentication.principal.user.uid}]]</span><br>
         이름 : <span>[[${#authentication.principal.user.name}]]</span><br>
         나이 : <span sec:authentication="principal.user.age">나이</span><br>
         휴대폰 : <span sec:authentication="principal.user.hp">휴대폰</span><br>
         가입일 : <span sec:authentication="principal.user.regDate">가입일</span><br>
         권한 : <span>[[${#authentication.principal.user.role}]]</span>
         <!-- principa 은 UserDetails 객체-->
     </p >
    <a th:href="@{/templates/user1/logout}">로그아웃</a>
</body>
</html>