<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout.html}">

<div class="container-fluid px-4" layout:fragment="content">
    <h3 class="mt-4 mb-4">게시판 목록</h3>

    <!-- 내용 시작 -->
    <style>
        a{
            color: black;
        }
    </style>
    <script>
        window.onload=function (){
            const selects = document.getElementById('selects');
            const options = selects.querySelectorAll('option');
            const type = '[[${type}]]';
            for(let i=0 ; i<options.length ; i++){
                if(options[i].value == type){
                    options[i].setAttribute('selected', 'selected');
                }
            }

        }
    </script>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <span th:if="${cate == 'notice'}">공지사항 글목록</span>
            <span th:if="${cate == 'free'}">자유게시판 글목록</span>
            <span th:if="${cate == 'faq'}">자주묻는질문 글목록</span>
            <span th:if="${cate == 'qna'}">묻고답하기 글목록</span>
        </div>
        <div class="card-body">
            <!-- Navbar Search-->
            <form  th:action="@{/article/list}" class="float-end d-none  d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 ">
                <input  type="hidden" name="cate" th:value="${cate}" />
                <div class="input-group">
                    <select name="type" class="form-select" aria-label="Default select example" id="selects">
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="title_content">제목+내용</option>
                        <option value="writer">작성자</option>
                    </select>
                    <input class="form-control" type="text" name="keyword" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" th:value="${keyword}" />
                    <button class="btn btn-secondary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${pageResponseDTO.dtoList.size()<1}">
                    <td colspan="5" class="text-center">작성된 글이 없습니다.</td>
                </tr>
                <tr th:each="article, index:${pageResponseDTO.dtoList}">
                    <td style="background: #8d8d8d; color: white">[[${pageResponseDTO.startNo - index.index}]]</td>
                    <td>
                        <a th:if="${keyword == null}" th:href="@{/article/view(no=${article.no}, pg=${pageResponseDTO.getPg()})}">[[${article.title}]]</a>
                        <a th:if="${keyword != null}" th:href="@{/article/view(no=${article.no}, pg=${pageResponseDTO.getPg()}, type=${type},keyword=${keyword})}">[[${article.title}]]</a>
                    </td>
                    <td>[[${article.nick}]]</td>
                    <td>[[${article.hit}]]</td>
                    <td th:text="${article.rdate.toLocalDate()}"></td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" >

                    <li th:if="${pageResponseDTO.prev}" class="page-item ">
                        <a th:if="${keyword == null}" class="page-link" style="color: black" th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.start -1})}">&#60;</a>
                        <a th:if="${keyword != null}" class="page-link" style="color: black" th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.start -1} , type=${type}, keyword=${keyword})}">&#60;</a>
                    </li>

                    <li th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}" class="page-item " th:if="${keyword == null}">
                        <th:block th:if="${num == pageResponseDTO.getPg()}">
                        <a class="page-link" style="color: black; background: #8c8c8c" th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${num})}">[[${num}]]</a>
                        </th:block>
                        <th:block th:if="${num != pageResponseDTO.getPg()}">
                            <a class="page-link " style="color: black"  th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${num})}">[[${num}]]</a>
                        </th:block>
                    </li>

                    <li th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}" class="page-item " th:if="${keyword != null}">
                        <th:block th:if="${num == pageResponseDTO.getPg()}">
                            <a class="page-link" style="color: black; background: #8c8c8c" th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${num}, type=${type},keyword=${keyword})}">[[${num}]]</a>
                        </th:block>
                        <th:block th:if="${num != pageResponseDTO.getPg()}">
                            <a class="page-link " style="color: black"  th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${num}, type=${type},keyword=${keyword})}">[[${num}]]</a>
                        </th:block>
                    </li>


                    <li th:if="${pageResponseDTO.next}" class="page-item">
                        <a class="page-link"  th:if="${keyword == null}"  style="color: black" th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.end+1})}">&#62;</a>
                        <a class="page-link"  th:if="${keyword != null}"  style="color: black" th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.end+1}, type=${type}, keyword=${keyword})}">&#62;</a>
                    </li>

                </ul>
            </nav>

        </div>

    </div>

    <div class="text-end mb-4">
        <a th:href="@{/article/write(cate=${cate})}" class="btn btn-dark">글쓰기</a>
    </div>
    <!-- 내용 끝 -->
</div>
</html>