<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout.html}">

<div class="container-fluid px-4" layout:fragment="content">
    <script>
        window.onload =function (){
            const deleteFile = document.querySelectorAll('.fileDelete');
            const deleteFileList  = [];
            const form = document.formWrite;
            const no =[form.no.value];
            deleteFile.forEach(button =>{
                button.onclick=function (e){
                    //파일 삭제
                    e.preventDefault();
                    const uploadFile = button.closest('.uploadFile');
                    const fno = button.dataset.fno;
                    uploadFile.remove();

                    deleteFileList.push(fno);
                    console.log(fno);
                }
            })

            //수정 완료 버튼을 누르면
            //파일 삭제 + 파일 클래스들을 넘겨주어야 함
            const submit = document.querySelectorAll('.submit')[0];
            submit.onclick= async function (e){
                if(deleteFileList.length>0){
                    const jsonData = {
                        deleteFileList : deleteFileList,
                        no: no
                    }
                    console.log(jsonData);
                    const data =await fetchPut(`/sboard/article/modifyFile`,jsonData);
                    if(data.delte === 'success'){
                        form.submit();
                    }
                }else{
                    form.submit();
                }

            }

        }
    </script>

    <h3 class="mt-4 mb-4">게시판 글수정</h3>

    <!-- 내용 시작 -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <span th:if="${cate == 'notice'}">공지사항 글수정</span>
            <span th:if="${cate == 'free'}">자유게시판 글수정</span>
            <span th:if="${cate == 'faq'}">자주묻는질문 글수정</span>
            <span th:if="${cate == 'qna'}">묻고답하기 글수정</span>
        </div>
            <div class="card-body">
            <form name="formWrite" th:action="@{/article/modify(pg=${pg})}" method="post" enctype="multipart/form-data">
                <div th:if="${keyword != null}">
                    <input type="hidden" name="keyword" th:value="${keyword}">
                    <input type="hidden" name="type" th:value="${type}">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">글제목</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title"
                    th:value="${article.title}">
                    <input type="hidden" th:value="${article.getNo()}" name="no" class="no">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">글내용</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content">[[${article.content}]]</textarea>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">파일첨부</label>
                    <input class="form-control" type="file" name="files" id="formFileMultiple" multiple>
                </div>
                <div class="mb-3" th:if="${article.file > 0}">
                    <label for="exampleFormControlInput1" class="form-label">첨부된 파일</label>
                    <ul class="list-group" >

                        <li th:each="file:${article.filesList}" class="list-group-item d-flex justify-content-between align-items-center uploadFile">
                            <a th:href="@{/file/download/{fno}(fno=${file.fno})}" th:data-fno="${file.fno}" class="fileLink">[[${file.oName}]]</a>
                            <div class="text-end">
                                <button  class="btn btn-dark text-end fileDelete" th:data-fno="${file.fno}" th:data-no="${article.getNo()}">삭제</button>
                            </div>
                        </li>


                    </ul>
                </div>
                <div class="text-end">
                    <a th:if="${keyword == null}" th:href="@{/article/view(no=${article.no}, pg=${pg})}"  class="btn btn-dark text-end" >취소</a>
                    <a th:if="${keyword != null}" th:href="@{/article/view(no=${article.no}, pg=${pg},type=${type},keyword=${keyword})}" class="btn btn-dark text-end" >취소</a>
                    <button type="button" class="btn btn-dark text-end submit">수정 완료</button>
                </div>
            </form>

        </div>

    </div>

    <!-- 내용 끝 -->
</div>
</html>