<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/defaultLayout.html">

<div class="container-fluid px-4" layout:fragment="content">
    <script>
        window.onload = function (){
            const fileLinks = document.getElementsByClassName('fileLink');

            for(const fileLink of fileLinks){

                // 파일 다운로드 요청과 동시에 다운로드 카운트 요청
                fileLink.onclick = async function () {
                    let count = parseInt(this.nextElementSibling.innerHTML);
                    // FileController - downloadCount 요청 메서드 실행
                    this.nextElementSibling.innerHTML = count+1;
                }
            }


            // 댓글 등록
            const formComment = document.formComment;
            formComment.onsubmit = async function (e) {
                e.preventDefault();
                    const parent =  formComment.parent.value;
                    const writer =  formComment.writer.value;
                    const content =  formComment.content.value;

                const jsonData = {
                    "parent": formComment.parent.value,
                    "writer": formComment.writer.value,
                    "content": formComment.content.value
                };

                console.log(jsonData);

                const data = await fetchPost(`/sboard/article/insertComment`, jsonData);

                console.log(data);

                    //동적 추가
                const commentList = document.getElementById("commentList");

                   const commentArticle = ` <div class="mb-3 comment" >
                                         <form>
                                         <span>${writer} </span>
                                 <span>${new Date().toISOString().slice(0, 10)}</span>
                    <textarea class="form-control"  rows="2">${content}</textarea>
                   <div class="text-end mt-3">
 <button type="button" class="btn btn-dark btnCommentDelete" data-mode="remove" data-no="${data.no}" > 삭제</button>
                    <button type="button" class="btn btn-dark"  data-mode="modify" data-no="${data.no}" > 수정</button>                </div>
                  </form>
                          </div>`;

                commentList.insertAdjacentHTML('beforeend', commentArticle);
                alertModal('댓글이 등록되었습니다');
                formComment.content.value = "";
            }


            // 댓글 삭제/수정(동적 이벤트 처리)
            //////////////////////////////////////////////////////////////////////////
            document.addEventListener('click', async function(e){

                // 이벤트 대상의 클래스값이 remove일 경우
                if(e.target.dataset.mode == 'remove'){
                    e.preventDefault();

                    // 해당 삭제에서 가장 가까운 부모 comment 문서객체 생성
                    const comment = e.target.closest('.comment');

                    // 댓글 번호
                    const no = e.target.dataset.no;

                    console.log('no : ' + no);

                    // DELETE용 fetch 함수 정의
                    const data = fetchDelete(`/sboard/article/deleteComment/${no}`);

                    if(data){
                        alertModal("삭제 되었습니다.");
                        comment.remove();

                    }

                }else if(e.target.dataset.mode == 'modify'){
                    const result = confirmModal("정말 수정 하시겠습니까?");
                    console.log("result : " + result);
                }

            });
        }
    </script>

    <h3 class="mt-4 mb-4">게시판 글보기</h3>
    <!-- 내용 시작 -->

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            OOO 글보기
        </div>
        <div class="card-body">

            <form>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">글제목</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="title" readonly th:value="${articleDTO.getTitle()}">
                </div>

                <div class="mb-3" th:if="${articleDTO.file > 0}">
                    <label for="exampleFormControlInput1" class="form-label">첨부파일</label>
                    <ul class="list-group" >

                        <li th:each="file:${articleDTO.filesList}" class="list-group-item d-flex justify-content-between align-items-center">
                            <a th:href="@{/file/download/{fno}(fno=${file.fno})}" th:data-fno="${file.fno}" class="fileLink">[[${file.oName}]]</a>
                            <span class="badge text-bg-dark rounded-pill">[[${file.download}]]</span>
                        </li>


                    </ul>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">글내용</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content" readonly>[[${articleDTO.content}]]</textarea>
                </div>
            </form>

        </div>

    </div>

    <div class="text-end">
        <a th:href="@{/article/list(cate=${articleDTO.cate})}" class="btn btn-dark mb-3" >목록</a>
    </div>
    <!-- 댓글 내용 시작-->
    <form name="formComment" th:action="@{/article/insertComment}" method="post">
        <input type="hidden" name="writer" th:value="${#authentication.principal.user.uid}">
        <input type="hidden" name="parent" th:value="${articleDTO.getNo()}">
        <div class="input-group">
            <span class="input-group-text bg-dark text-white">댓글 입력</span>
            <textarea class="form-control" aria-label="With textarea"  name="content" ></textarea>
        </div>
        <div class="mt-4 mb-4 text-end">
            <button type="button" class="btn btn-dark"> 취소</button>
            <input type="submit" class="btn btn-dark" id="btnSubmit" value="댓글등록">
        </div>
    </form>

    <div id="commentList">
    <div class="mb-3 comment" th:each="comment:${comments}"  >
        <form>
        <span>[[${comment.writer}]] </span>
        <span th:text="${comment.rdate.toLocalDate()}"></span>
        <textarea class="form-control"  rows="2">[[${comment.content}]]</textarea>
            <th:block th:if="${#authentication.principal.user.uid == comment.writer}">
                <div class="text-end mt-3">
                    <button type="button" class="btn btn-dark btnCommentDelete" data-mode="remove" th:data-no="${comment.no}" > 삭제</button>
                    <button type="button" class="btn btn-dark"  data-mode="modify" th:data-no="${comment.no}" > 수정</button>
                </div>
            </th:block>
        </form>
    </div>
    </div>

</div>

</html>