<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">

<!--

    - http://localhost:8080/sboard/user/findPassword
    - 인증된 이메일과 아이디로 사용자 조회
    - 해당하는 사용자가 조회 되면 비밀번호 변경 페이지 이동
-->
<div class="container" layout:fragment="content">
    <script>
        window.onload= function (){
            let isOk = false;
            const btnsearch = document.getElementById('btnSendCode');
            const  form = document.formFindPassword;
            btnsearch.onclick =function (){
                console.log('체크!');
                const uid = form.uid.value;
                const email = form.email.value;
                const spinner = this.getElementsByClassName('spinner')[0];
                const resultSearch = document.getElementById('resultSearch');

                spinner.classList.remove('d-none');
                const jsonData = {uid : uid, email : email};
                setTimeout(async () =>{
                    const  data =await  fetchPost(`/sboard/user/findPassword` , jsonData);
                    console.log(data);
                    if(data.result === "null"){
                        spinner.classList.add('d-none');
                        showResultInvalid(resultSearch, '유효하지 않은 사용자입니다.');
                    }else{
                        spinner.classList.add('d-none');
                        showResultValid(resultSearch, '이메일을 전송했습니다.');
                    }
                }, 1000);
            }
            const btnemailCode = document.getElementById('btnCheckCode');

            btnemailCode.onclick=async function () {
                const inputEmailCode = document.getElementById('inputEmailCode').value;
                const resultCode = document.getElementById('resultCode');
                const spinner = this.getElementsByClassName('spinner')[0];

                spinner.classList.remove('d-none');
                setTimeout(async () =>{
                    const  data =await  fetchGet(`/sboard/email/${inputEmailCode}`);

                    console.log(data);
                    if(data.result){
                        spinner.classList.add('d-none');
                        showResultValid(resultCode, '인증코드가 일치합니다.');
                        isOk= true;
                    }else{
                        spinner.classList.add('d-none');
                        showResultInvalid(resultCode, '인증코드가 일치하지 않습니다.');
                    }
                }, 1000);

            }

            const btnNext = document.getElementById('btnNext');
            btnNext.onclick =function (e){
                e.preventDefault();
                if(isOk){
                    form.submit();
                }else{
                    alertModal('이메일이 인증되지 않았습니다.');
                }
            }
        }

    </script>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">비밀번호 찾기</h3></div>
                <div class="card-body">
                    <form name="formFindPassword" method="post" th:action="@{/user/findPasswordChange}">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="inputUid" name="uid" placeholder="아이디 입력" />
                            <label for="inputUid">아이디 입력</label>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" id="inputEmail" name="email" placeholder="이메일 입력" />
                                    <label for="inputEmail">이메일 입력</label>
                                </div>
                            </div>
                            <div class="col-md-5 ">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnSendCode" data-type="email">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">이메일 인증</span>
                                </button>
                            </div>
                            <div id="resultSearch" class="d-block"></div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-7">
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" id="inputEmailCode" name="code" placeholder="인증번호 입력" />
                                    <label for="inputEmailCode">인증번호 입력</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnCheckCode">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">인증확인</span>
                                </button>
                            </div>
                            <div id="resultCode" class="d-block"></div>
                        </div>

                        <div id="resultEmailCode" class="d-block"></div>


                        <p class="small mt-3">
                            비밀번호를 찾고자 하는 아이디와 이메일을 입력해 주세요.<br>
                            회원가입시 입력한 아이디와 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.<br>
                            인증번호를 입력 후 확인 버튼을 누르세요.<br>
                        </p>

                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div>
                        <a th:href="@{/user/login}" class="btn btn-secondary">취소</a>
                        <a th:href="@{/user/findPasswordChange}" class="btn btn-dark" id="btnNext">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- container end -->
</html>