<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">

<!--
    - http://localhost:8080/sboard/user/findId
    - 회원가입한 이메일로 인증을 받고 이름과 이메일로 사용자 조회
    - 조회된 사용자는 아이디 찾기 결과 페이지에 출력
-->

<div class="container" layout:fragment="content">
    <script>
    window.onload= function (){
        let isOk = false;
        const btnsearch = document.getElementById('btnCheckEmail');
        const  form = document.formFindId;
        btnsearch.onclick =function (){
            console.log('체크!');
            const name = form.name.value;
            const email = form.email.value;
            const spinner = this.getElementsByClassName('spinner')[0];
            const resultSearch = document.getElementById('resultSearch');

            spinner.classList.remove('d-none');
            const jsonData = {name : name, email : email};
            setTimeout(async () =>{
                const  data =await  fetchPost(`/sboard/user/findId` , jsonData);
                console.log(data);
                if(data.result === "null"){
                    spinner.classList.add('d-none');
                    showResultInvalid(resultSearch, '유효하지 않은 사용자입니다.');
                }else{
                    spinner.classList.add('d-none');
                    showResultValid(resultSearch, '이메일을 전송했습니다.');
                }
            }, 1000);
        }
        const btnemailCode = document.getElementById('btnCheckEmailCode');
        btnemailCode.onclick=async function () {
            const inputEmailCode = document.getElementById('inputEmailCode').value;
            const resultCode = document.getElementById('resultCode');
            const spinner = this.getElementsByClassName('spinner')[0];

            spinner.classList.remove('d-none');
            setTimeout(async () =>{
                const  data =await  fetchGet(`/sboard/email/${inputEmailCode}`);

                console.log(data);
                if(data.result){
                    spinner.classList.add('d-none');
                    showResultValid(resultCode, '인증코드가 일치합니다.');
                    isOk= true;
                }else{
                    spinner.classList.add('d-none');
                    showResultInvalid(resultCode, '인증코드가 일치하지 않습니다.');
                }
            }, 1000);

        }

        const btnNext = document.getElementById('btnNext');
        btnNext.onclick =function (e){
            e.preventDefault();
            if(isOk){
                form.submit();
            }else{
                alertModal('이메일이 인증되지 않았습니다.');
            }
        }
    }

    </script>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">아이디 찾기</h3></div>
                <div class="card-body">
                    <form name="formFindId" th:action="@{/user/findIdResult}" method="post" >
                        <div class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control inputName" type="text" id="inputName" name="name" placeholder="" />
                                    <label for="inputName">이름 입력</label>
                                </div>
                                <div id="resultName" class="d-block"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control inputEmail" type="email" id="inputEmail" name="email" placeholder="이메일 입력" />
                                    <label for="inputEmail">이메일 입력</label>
                                </div>
                                <div id="resultEmail" class="d-block"></div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnCheckEmail" data-type="email">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">이메일 인증</span>
                                </button>
                            </div>
                            <div id="resultSearch" class="d-block"></div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-md-7">
                                <div class="form-floating mb-3">
                                    <input class="form-control inputEmailCode" type="text" id="inputEmailCode" name="code" placeholder="인증번호 입력" />
                                    <label for="inputEmailCode">인증번호 입력</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100" id="btnCheckEmailCode">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">인증확인</span>
                                </button>
                            </div>
                            <div id="resultCode" class="d-block"></div>
                        </div>
                    </form>
                    <div id="resultEmailCode" class="d-block"></div>

                    <p class="small">
                        회원가입시 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.<br>
                        인증번호를 입력 후 확인 버튼을 누르세요.
                    </p>


                </div>
                <div class="card-footer text-center py-3">
                    <div>
                        <a th:href="@{/user/login}" class="btn btn-secondary">취소</a>
                        <a th:href="@{/user/findIdResult}" class="btn btn-dark" id="btnNext">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- container end -->
</html>