<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/defaultLayout.html">

<div class="container-fluid px-4" layout:fragment="content">
    <h1 class="mt-4">메인</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <!-- 내용 시작 -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            게시판 목록
        </div>
        <div class="card-body">
            <style>
                a{
                    color: gray;
                    text-decoration: none;
                }
            </style>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>게시판 이름</th>
                    <th>이동하기</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                   <td>공지사항</td>
                   <td>
                       <a th:href="@{/article/list(cate=notice)}" >눌러 💖 </a>
                   </td>
                </tr>
                <tr>
                    <td>자유게시판</td>
                    <td>
                        <a th:href="@{/article/list(cate=free)}" >눌러  💖</a>
                    </td>
                </tr>
                <tr>
                    <td>자주묻는질문</td>
                    <td>
                        <a th:href="@{/article/list(cate=faq)}" >눌러  💖</a>
                    </td>
                </tr>
                <tr>
                    <td>묻고답하기</td>
                    <td>
                        <a th:href="@{/article/list(cate=qna)}" >눌러 💖</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 내용 끝 -->
</div>

</html>