<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<!--
    내용 : 나의 설정 구현하기

    - http://localhost:8080/sboard/my/setting
    - 회원정보 수정 및 탈퇴 기능
    - 회원탈퇴는 해당 사용자의 아이디만 남기고 모두 컬럼의 값을 null 업데이트
-->
<div class="container-fluid px-4" layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        window.onload = function (){
            const  btnChangePassword =document.getElementById('btnChangePassword');
            const  formChangePassword = document.formChangePassword;

            const inputPass2 = document.getElementById('pass2');
            const inputPass1 = document.getElementById('pass1');

            const rePass  = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;

            btnChangePassword.onclick =function (e){
                e.preventDefault();
                if( inputPass1.value == inputPass2.value){

                    if(!inputPass2.value.match(rePass)){
                        alertModal('비밀번호 형식에 맞지 않습니다. \n ' +
                            '영문 숫자, 특수문자를 사용하여 5자 이상 입력해 주세요.')
                    }else{
                       const data = formChangePassword.submit();
                    }
                }else{
                    alertModal('비밀번호가 일치하지 않습니다.')
                }
            }
            const code = [[${code}]]
            if(code =='100'){
                alertModal('비밀번호가 변경되었습니다.');
            }

            //개인정보 수정
         //너무 귀찮음..
            const reName  = /^[가-힣]{2,10}$/
            const reNick  = /^[a-zA-Zㄱ-힣0-9][a-zA-Zㄱ-힣0-9]*$/;
            const reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
            const reHp    = /^01(?:0|1|[6-9])-(?:\d{4})-\d{4}$/;
            const uid = `[[${user.uid}]]`;

            // 이름 유효성 검사
            const inputName = document.getElementById('inputName');
            const resultName = document.getElementById('resultName');

            inputName.addEventListener('focusout', async () => {

                const value = inputName.value;

                if (!value.match(reName)) {
                    showResultInvalid(resultName, '이름 형식이 맞지 않습니다.');
                } else {
                    showResultValid(resultName, '');
                    const result = await confirmModal(`${value}로 변경하시겠습니까?`);
                    if(result){
                      const result2 = await fetchGet(`/sboard/my/name/${value}/${uid}`);
                      if(result2.success == '100'){
                          alertModal('변경되었습니다.');
                      }
                    }
                }
            });


            // 별명 유효성 검사
            const inputNick = document.getElementById('inputNick');
            const nickCheck = document.getElementById('nickCheck');

            nickCheck.onclick = function(e) {
                e.preventDefault();
                const type       = 'nick';
                const value      = inputNick.value;

                // 정규식 검사
                if(!value.match(reNick)){
                   alertModal("닉네임 형식에 맞지 않습니다.")
                }else{
                    setTimeout(async () => {

                        const data = await fetchGet(`/sboard/user/${type}/${value}`);

                        if(data.result > 0){
                            alertModal("이미 사용중인 닉네임 입니다.")
                        }else{
                            const result = await confirmModal('사용가능한 닉네임입니다. 변경하겠습니까?');
                            if(result){
                                const result2 = await fetchGet(`/sboard/my/nick/${value}/${uid}`);
                                if(result2.success == '100'){
                                    alertModal('변경되었습니다.');
                                }
                            }
                        }
                    }, 1000);
                }

            }

            // 휴대폰 유효성 검사
            const inputHp = document.getElementById('inputHp');
            const  resultHp =document.getElementById('resultHp');
            inputHp.addEventListener('focusout', async () => {

                const value =  inputHp.value;

                if(!value.match(reHp)){
                    showResultInvalid(resultHp, '휴대폰 형식이 맞지 않습니다.');
                }else {
                    setTimeout(async () => {
                        const data = await fetchGet(`/sboard/user/hp/${value}`);

                        if(data.result > 0){
                            showResultInvalid(resultHp, '이미 사용중인 휴대폰 입니다.');
                        }else{
                            showResultInvalid(resultHp, '');
                            const result = await confirmModal('휴대폰 번호를 변경하시겠습니까?');
                            if(result){
                                const result2 = await fetchGet(`/sboard/my/hp/${value}/${uid}`);
                                if(result2.success == '100'){
                                    alertModal('변경되었습니다.');
                                }
                            }
                        }
                    }, 1000);
                }
            });

            // 이메일 유효성 검사
            const inputEmail = document.getElementById('inputEmail');
            const btnCheckEmail = document.getElementById('btnCheckEmail');
            const insertCode = document.getElementById('insertCode');
            const emailSpinner = document.getElementById('emailSpinner');

            btnCheckEmail.onclick = function(e){
                e.preventDefault();
                const value     = inputEmail.value;
                // 유효성 검사
                emailSpinner.classList.remove('d-none');
                if(!value.match(reEmail)){
                    emailSpinner.classList.add('d-none');
                   alertModal("이메일 형식이 맞지 않습니다.");
                }else{
                    // 이메일 인증코드 발급 및 중복체크
                    setTimeout(async () => {
                        const data = await fetchGet(`/sboard/user/email/${value}`);
                        console.log('data : ' + data.result);
                        if(data.result > 0){
                            emailSpinner.classList.add('d-none');
                           alertModal("이미 사용중인 이메일입니다.")
                        }else{
                            emailSpinner.classList.add('d-none');
                            alertModal("인증코드가 발송되었습니다.")
                            insertCode.style.display="";
                        }
                    }, 1000);
                }
                }



            // 이메일 인증코드 확인
            const inputEmailCode = document.getElementById('code');
            const btnCheckEmailCode = document.getElementById('btnCheckEmailCode');

            btnCheckEmailCode.onclick = async function (e){
                e.preventDefault();
                const value = inputEmailCode.value;
                const newEmail = inputEmail.value;
                const data = await fetchGet(`/sboard/email/${value}`);

                if(!data.result){
                    alertModal('인증코드가 일치하지 않습니다.')
                }else{
                    const result = await confirmModal('인증되었습니다. 변경하시겠습니까?');
                    if(result){
                        const result2 = await fetchGet(`/sboard/my/email/${newEmail}/${uid}`);
                        if(result2.success == '100'){
                            alertModal('변경되었습니다.');
                            insertCode.style.display="none";
                        }
                    }else{
                        insertCode.style.display="none";
                    }

                }
            }
            // 우편번호 주소검색
            // 다음 우편번호 API 스크립트 상단 추가, postcode 함수 util.js 파일 추가
            const inputZip = document.getElementById('inputZip');
            inputZip.onclick = function (){
                postcode();
            }
            //회원 탈퇴
            const btnLeave = document.getElementById('btnLeave');
            const btnLeaveResult = document.getElementById('btnLeaveResult');
            btnLeave.onclick = async function (e) {
                e.preventDefault();
                const result = await confirmModal('정말로 회원 탈퇴하시겠습니까?');
                if (result) {
                    btnLeaveResult.click();
                }else{
                    alertModal("회원 탈퇴가 취소되었습니다. 잘 생각 하셨습니다.");
                }
            }

            const  inputAddr2 =document.getElementById('inputAddr2');
            const  inputAddr1 =document.getElementById('inputAddr1');

            inputAddr2.addEventListener("focusout", async ()=>{
                console.log(inputZip.value);
                if(inputZip.value == ""){
                    alertModal("우편번호를 입력해주세요")
                }else if(inputAddr1.value == ""){
                    alertModal("기본주소를 입력해주세요")
                }else{
                    const result = await confirmModal('주소를 수정하시겠습니까?')
                    if(result){
                        const jsonData = {zip :inputZip.value,
                         addr1 : inputAddr1.value,
                        addr2 : inputAddr2.value,
                        uid: uid}

                        const result2 = await fetchPut('/sboard/my/modifyAddr', jsonData);
                        if(result2.success == '100'){
                            alertModal('주소가 수정되었습니다.');
                        }
                        }
                }
            })
        }

    </script>

    <h3 class="mt-4 mb-4">나의 설정 💖</h3>
    <!-- 내용 시작 -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            회원정보 설정
        </div>
        <div class="card-body">
            <form name="formChangePassword" method="post" th:action="@{/my/passwordChange}">
            <table class="table">
                <tr>
                    <td >아이디</td>
                    <td class="col-md-10"><input class="form-control w-50" type="text" name="uid" readonly th:value="${user.uid}"></td>
                </tr>
                <tr>
                    <td>새 비밀번호</td>
                    <td><input class="form-control w-50" type="password" name="pass1" id="pass1"></td>
                </tr>
                <tr>
                    <td >비밀번호 확인</td>
                    <td class="d-flex">
                        <input class="form-control w-50" type="password" name="pass2" id="pass2">
                        <button class="btn btn-dark ms-2" id="btnChangePassword">비밀번호 변경</button>
                    </td>
                </tr>

                <tr>
                    <td>회원가입일</td>
                    <td><input class="form-control border-0" type="text" name="regDate" th:value="${user.getRegDate()}"></td>
                </tr>
            </table>
            </form>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            개인정보 수정
        </div>
        <div class="card-body">

            <form name="changeUser" method="post" th:action="@{/my/changeUser}">
            <table class="table">
                <tr>
                    <td class="col-md-2">이름</td>
                   <td class="col-md-10"><input class="form-control w-50" type="text" name="name" id="inputName" th:value="${user.name}">
                       <div id="resultName" class="d-block"></div></td>

                </tr>
                <tr>
                    <td>별명</td>
                    <td class="d-flex">
                        <input class="form-control w-50" type="text" name="nick"  id="inputNick" th:value="${user.nick}">
                        <button class="btn btn-dark ms-2" id="nickCheck">중복확인</button>
                    </td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td class="d-flex">
                        <input class="form-control w-50" type="text" id="inputEmail" name="email" th:value="${user.email}">
                        <button class="btn btn-dark ms-2" id="btnCheckEmail">
                            <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true" id="emailSpinner"></span>
                            <span class="" role="status">이메일 인증</span>
                        </button>
                    </td>
                </tr>
                <tr style="display: none" id="insertCode">
                    <td>인증코드 입력</td>
                    <td class="d-flex">
                        <input class="form-control w-50" type="text" name="email" id="code" placeholder="인증코드를 입력해주세요" >
                        <button class="btn btn-dark ms-2" id="btnCheckEmailCode" >인증코드 확인</button>
                    </td>
                </tr>
                <tr>
                    <td>휴대폰</td>
                    <td>
                        <input class="form-control w-50" type="text" name="hp" placeholder="휴대폰 번호 입력"
                               id="inputHp" th:value="${user.hp}" />
                        <div id="resultHp" class="d-block"></div>
                    </td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>
                        <div class="mb-2">주소 변경 원할 시 우편 번호 입력란을 클릭하세요</div>
                        <input class="form-control w-25 mb-2 " type="text" name="zip" readonly placeholder="우편번호 검색" id="inputZip" th:value="${user.zip}"/>
                        <input class="form-control w-75 mb-2" type="text" name="add1" readonly placeholder="기본주소 입력" th:value="${user.addr1}" id="inputAddr1" />
                        <input class="form-control w-75 mb-2" type="text" name="addr2" placeholder="상세주소 입력"  th:value="${user.addr2}" id="inputAddr2"/>
                    </td>
                </tr>

            </table>
            </form>
        </div>


    </div>

    <div class="text-end mb-4">
        <a th:href="@{#}" class="btn btn-danger" id="btnLeave">회원탈퇴</a>
        <a th:href="@{/my/leave(uid=${user.uid})}" class="btn btn-danger" id="btnLeaveResult" style="display: none"></a>
    </div>
    <!-- 내용 끝 -->
</div>
</html>